Pair_Folder/NodeRed_flows/button_to_sound.json
[
    {
        "id": "9ef414088e30f623",
        "type": "tab",
        "label": "Button to sound",
        "disabled": false,
        "info": "Week 6 lab tasks",
        "env": []
    },
    {
        "id": "13a36cee7e6cb5c7",
        "type": "mqtt in",
        "z": "9ef414088e30f623",
        "name": "",
        "topic": "firstnode/b1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d6296f2db4785e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "0b145b5e8f38eec4"
            ]
        ]
    },
    {
        "id": "c4cb88e1429c5446",
        "type": "ui_audio",
        "z": "9ef414088e30f623",
        "name": "button audio out",
        "group": "2e7b447f8a602f27",
        "voice": "",
        "always": "",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "0b145b5e8f38eec4",
        "type": "switch",
        "z": "9ef414088e30f623",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pressed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "depressed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "d2484da2919d24e9"
            ],
            [
                "225d8b40ea7f629d"
            ]
        ]
    },
    {
        "id": "d2484da2919d24e9",
        "type": "change",
        "z": "9ef414088e30f623",
        "name": "one",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "a751167b57711a07"
            ]
        ]
    },
    {
        "id": "225d8b40ea7f629d",
        "type": "change",
        "z": "9ef414088e30f623",
        "name": "zero",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "39ff52da7ac08bcc",
        "type": "debug",
        "z": "9ef414088e30f623",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "a751167b57711a07",
        "type": "file in",
        "z": "9ef414088e30f623",
        "name": "audio hello",
        "filename": "/home/iot/assets/button_nodered.wav",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "39ff52da7ac08bcc",
                "c4cb88e1429c5446"
            ]
        ]
    },
    {
        "id": "4d6296f2db4785e3",
        "type": "mqtt-broker",
        "name": "local mqtt broker on gateway",
        "broker": "192.168.12.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e7b447f8a602f27",
        "type": "ui_group",
        "name": "Default",
        "tab": "f084747d9b4f2415",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f084747d9b4f2415",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]