Gautier/Additional_things/Node-RED_flows/Node-RED_Intro/flow1.json
[
    {
        "id": "26d69047cdeda53d",
        "type": "tab",
        "label": "Gautier",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6206da00316522d",
        "type": "mqtt in",
        "z": "26d69047cdeda53d",
        "name": "",
        "topic": "buttons/button1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d6296f2db4785e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "04946f5f3a11dd34"
            ]
        ]
    },
    {
        "id": "d6cb1c6edafea210",
        "type": "mqtt out",
        "z": "26d69047cdeda53d",
        "name": "",
        "topic": "leds/led1/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d6296f2db4785e3",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "04946f5f3a11dd34",
        "type": "switch",
        "z": "26d69047cdeda53d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pressed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "released",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "471437ffebaa09c1"
            ],
            [
                "b8188ef0bcb30eec"
            ]
        ]
    },
    {
        "id": "b8188ef0bcb30eec",
        "type": "change",
        "z": "26d69047cdeda53d",
        "name": "set on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "d6cb1c6edafea210"
            ]
        ]
    },
    {
        "id": "471437ffebaa09c1",
        "type": "change",
        "z": "26d69047cdeda53d",
        "name": "set off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "d6cb1c6edafea210"
            ]
        ]
    },
    {
        "id": "4d6296f2db4785e3",
        "type": "mqtt-broker",
        "name": "local mqtt broker on gateway",
        "broker": "192.168.12.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]